*{
  margin: 0;
  padding: 0;
  /* font-family: sans-serif; */
  font-family: 'Courier New', monospace;
}
/* unvisited link */
a:link {
  color: gray;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: gray;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: black;
  text-decoration: none;
}

.logo-wrap-main-page{
  position: relative;
  width: 100%;
  height:100vh;
}

.logo-wrap{
  position: relative;
  width: 100%;
  min-height: 250px;
  height:25vh;
}

.logo-main-page-fixed{
  position: fixed;
  top: 10%;
  left: 50%;
  -ms-transform: translate(-50%, -10%);
  transform: translate(-50%, -10%);
  background-color: #ffffff;
  z-index:2;
}

.logo-main-page{
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.logo{
  position: absolute;
  top: 10vh;
  left: 50%;
  -ms-transform: translate(-50%, -10%);
  transform: translate(-50%, -10%);
}

.project-container{
  position: relative;
  /* display: flex;
  flex-wrap: wrap;
  flex-direction: column; */
  height: 100%;
  width: 100%;
}

.project-container-gallery{
  position: relative;
  display: grid;
  flex-wrap: wrap;
  flex-direction: row;
  height: 100%;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
}

.project-cover-gallery{
  line-height: 0;
  overflow: hidden;
}
.project-cover-gallery>a>img{
  transition-property: transform;
  transition-duration: 0.2s;
  transition-timing-function: ease;
  transition-delay: 0s;
}

/* For Mobile */
@media screen and (max-width: 980px) {
  .project-container-wrapper{
    position: relative;
    width: 100%;
    min-height:35vh;
    margin-left: auto;
    margin-right: auto;
    max-width: 980px;
  }

  .project-cover{
    float: none;
    font-size: 36px;
    font-style: normal;
    font-weight: 300;
    line-height: 36px;
    padding-bottom: 24px;
    padding-top: 24px;
    text-align: center;
    width: auto;
  }

  .project-text{
    position: relative;
    /* float: none; */
    font-size: 36px;
    font-style: normal;
    font-weight: 300;
    line-height: 60px;
    padding-bottom: 32px;
    padding-top: 32px;
    text-align: justify;
    width: 100%;
  }

  .project-text-centered, .project-text-centered-phone{
    position: relative;
    /* float: none; */
    font-size: 36px;
    font-style: normal;
    font-weight: 300;
    line-height: 60px;
    padding-bottom: 32px;
    padding-top: 32px;
    text-align: center;
    width: 100%;
  }

  .project-text-centered-pc{
    position: relative;
    max-height: 1px;
    visibility: hidden;
  }

  .project-text>p{
    padding-left: 48px;
    padding-right: 48px;
  }

  .project-text-centered>p, .project-text-centered-phone>p{
    padding-left: 48px;
    padding-right: 48px;
  }

  .project-title{
    float: none;
    font-size: 42px;
    font-style: normal;
    font-weight: 300;
    line-height: 60px;
    padding-bottom: 32px;
    padding-top: 32px;
    text-align: center;
    width: 100%;
  }

  .row-column-container{
    position: relative;
    display: flex;
    flex-direction: column;
    flex: none;
    overflow: visible;
  }

  .row-column-gapper{
    height: 5%;
  }
}

/* For PC */
@media screen and (min-width: 981px) {
  .project-container-wrapper{
    position: relative;
    width: 100%;
    min-height:35vh;
    margin-left: auto;
    margin-right: auto;
    max-width: 720px;
  }

  .project-cover{
    float: none;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
    padding-bottom: 12px;
    padding-top: 12px;
    text-align: center;
    width: auto;
  }

  .project-text{
    position: relative;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
    padding-bottom: 12px;
    padding-top: 12px;
    text-align: justify;
    width: 100%;
  }

  .project-text-centered, .project-text-centered-pc{
    position: relative;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
    padding-bottom: 12px;
    padding-top: 12px;
    text-align: center;
    width: 100%;
  }

 .project-text-centered-phone{
   position: relative;
   max-height: 1px;
   visibility: hidden;
 }
  .project-title{
    position: relative;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: 32px;
    padding-bottom: 16px;
    padding-top: 16px;
    text-align: center;
    width: 100%;
  }
  .row-column-container{
    position: relative;
    display: flex;
    flex-direction: row;
    flex: none;
    overflow: visible;
  }
  .row-column-gapper{
    width: 5%;
  }
}
