*{
  margin: 0;
  padding: 0;
  /* font-family: sans-serif; */
  font-family: 'Courier New', monospace;
}
/* unvisited link */
a:link {
  color: gray;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: gray;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: black;
  text-decoration: none;
}

.logo-wrap-main-page{
  position: relative;
  width: 100%;
  height:100vh;
}

.project-container{
  position: relative;
  height: 100%;
  width: 100%;
}

.project-container-gallery{
  position: relative;
  display: grid;
  flex-wrap: wrap;
  flex-direction: row;
  height: 100%;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
}

.project-cover-gallery{
  line-height: 0;
  overflow: hidden;
}

.project-cover-gallery>a>img{
  transition-property: transform;
  transition-duration: 0.2s;
  transition-timing-function: ease;
  transition-delay: 0s;
}

/* For Mobile */
@media screen and (max-width: 680px) {
  .project-container-gallery-adapt{
    position: relative;
    display: grid;
    flex-wrap: wrap;
    flex-direction: row;
    height: 100%;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
  }

  .project-container-wrapper{
    position: relative;
    width: 100%;
    min-height:35vh;
    margin-left: auto;
    margin-right: auto;
    max-width: 680px;
  }

  .project-cover{
    float: none;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
    padding-bottom: 12px;
    padding-top: 12px;
    padding-left: 24px;
    padding-right: 24px;
    text-align: center;
    width: auto;
  }

  .project-text{
    position: relative;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
    padding-bottom: 12px;
    padding-top: 12px;
    text-align: justify;
    width: 100%;
  }

  /*.project-text-centered-phone are texts that only shows up when using a phone*/
  .project-text-centered, .project-text-centered-phone{
    position: relative;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
    padding-bottom: 12px;
    padding-top: 12px;
    text-align: center;
    width: 100%;
  }

  .project-text-centered-pc{
    position: relative;
    max-height: 1px;
    visibility: hidden;
  }

  .project-text>p{
    padding-left: 1.25em;
    padding-right: 1.25em;
  }

  .project-text-centered>p, .project-text-centered-phone>p{
    padding-left: 1.25em;
    padding-right: 1.25em;
  }

  .project-title{
    float: none;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: 32px;
    padding-bottom: 16px;
    padding-top: 16px;
    text-align: center;
    width: 100%;
  }

  .row-column-container{
    position: relative;
    display: flex;
    flex-direction: column;
    flex: none;
    overflow: visible;
  }

  .row-column-gapper{
    height: 5%;
  }

  .logo-wrap{
    position: relative;
    width: 100%;
    min-height: 160px;
    height:12vh;
  }

  .logo{
    position: absolute;
    top: 30px;
    left: 50%;
    width: 180px;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }

  .logo-main-page-fixed{
    position: fixed;
    top: 30px;
    left: 50%;
    width: 180px;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: #ffffff;
    z-index:2;
  }

  .logo-main-page{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 180px;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}

/* For PC */
@media screen and (min-width: 681px) {
  .project-container-gallery-adapt{
    position: relative;
    display: grid;
    flex-wrap: wrap;
    flex-direction: row;
    height: 100%;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
  }

  .project-container-wrapper{
    position: relative;
    width: 100%;
    min-height:35vh;
    margin-left: auto;
    margin-right: auto;
    max-width: 960px;
  }

  .project-cover{
    float: none;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
    padding-bottom: 12px;
    padding-top: 12px;
    text-align: center;
    width: auto;
  }

  .project-text{
    position: relative;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
    padding-bottom: 12px;
    padding-top: 12px;
    text-align: justify;
    width: 100%;
  }

  .project-text-centered, .project-text-centered-pc{
    position: relative;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
    padding-bottom: 12px;
    padding-top: 12px;
    text-align: center;
    width: 100%;
  }

 .project-text-centered-phone{
   position: relative;
   max-height: 1px;
   visibility: hidden;
 }
  .project-title{
    position: relative;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: 32px;
    padding-bottom: 16px;
    padding-top: 16px;
    text-align: center;
    width: 100%;
  }
  .row-column-container{
    position: relative;
    display: flex;
    flex-direction: row;
    flex: none;
    overflow: visible;
  }
  .row-column-gapper{
    width: 5%;
  }

  .logo-wrap{
    position: relative;
    width: 100%;
    min-height: 250px;
    height:25vh;
  }

  .logo{
    position: absolute;
    top: 50px;
    left: 50%;
    width: 300px;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }

  .logo-main-page-fixed{
    position: fixed;
    top: 50px;
    left: 50%;
    width: 300px;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: #ffffff;
    z-index:2;
  }

  .logo-main-page{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}
