<!-- template html for an article -->
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TEMPLATE</title>
    <style media="screen">
      *{
        margin: 0;
        padding: 0;
        /* font-family: sans-serif; */
        font-family: 'Courier New', monospace;
      }
    </style>
    <link rel="stylesheet" href="/assets/css/page_items_mobile.css">
    <link rel="stylesheet" href="/assets/css/page_items_pc.css">
    <link rel="stylesheet" href="/assets/css/page_items.css">
    <link rel="stylesheet" href="/assets/css/font_text.css">
    <link rel="stylesheet" href="/assets/css/hyperlink_article.css">

    <script type="module">
      import {fetch_article_and_add_to_document_default} from "/assets/js/gapc.js";
      fetch_article_and_add_to_document_default();
    </script>
  </head>
  <body>
    <header class="site-header" data-context="theme.topcontainer" data-hover-hint="header">
        <div class="logo-container" data-hover-hint="logo">
              <div class="logo">
                <a id="home-link" href="/index.html?position=1">
                  <img src="/assets/img/logo.svg"/>
                </a>
              </div>
        </div>
    </header>
    <script type="text/javascript" src="/assets/js/checkhomeaddress.js"></script>

    <div class="page-body">
      <div id="article-container" class="article-container">
        <!-- <section class="project-covers" data-context="page.gallery.covers"> -->
          <div>
            <h1 class="title1">
              Project Title
            </h1>
          </div>

          <div class="main-text">
            <p>Text under subtitle, Text under subtitle, Text under subtitle, Text under subtitle, Text under subtitle, Text under subtitle, Text under subtitle, Text under subtitle</p>
          </div>

          <div class="notion-header-anchor" id = "1">
            <h2 class="title2">Sub Title</h2>
          </div>

          <div class="main-text">
            <p>Text under subtitle, Text under subtitle, Text under subtitle, Text under subtitle, Text under subtitle, Text under subtitle, Text under subtitle, Text under subtitle</p>
            <p>Text under subtitle, <a href="google.com">Text</a> under subtitle, Text under subtitle, Text under subtitle, Text under subtitle, Text under subtitle, Text under subtitle, Text under subtitle</p>
            <p>Text under subtitle, Text under subtitle, Text under subtitle, Text under subtitle, Text under subtitle, Text under subtitle, Text under subtitle, Text under subtitle</p>
            <p>Text under subtitle, Text under subtitle, Text under subtitle, Text under subtitle, Text under subtitle, Text under subtitle, Text under subtitle, Text under subtitle</p>
            <p>Text under subtitle, Text under subtitle, Text under subtitle, Text under subtitle, Text under subtitle, Text under subtitle, Text under subtitle, Text under subtitle</p>
          </div>

          <div class="notion-header-anchor" id = "2">
            <h3 class="title3">Sub Title2 PC only</h3>
          </div>

          <div class="main-text pc-only-content">
            <p>Text under subtitle, Text under subtitle, Text under subtitle, Text under subtitle, Text under subtitle, Text under subtitle, Text under subtitle, Text under subtitle</p>
          </div>

          <div class = "caption-text">This is the caption text</div>

          <div class="notion-header-anchor" id="3">
            <h3 class="title3">Sub Title2 Phone only</h3>
          </div>

          <div class="main-text phone-only-content">
            <p>Text under subtitle, Text under subtitle, Text under subtitle, Text under subtitle, Text under subtitle, Text under subtitle, Text under subtitle, Text under subtitle</p>
          </div>

          <div class="caption-text">-</div>
        <!-- </section> -->
      </div>
    </div>
  </body>
</html>
