/* For PC */
@media screen and (min-width: 681px) {
  .article-container{
    max-width: 960px;
  }

  .article-title-main-page{
    float: none;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
    padding-bottom: 12px;
    padding-top: 12px;
    text-align: center;
    width: auto;
  }
  
  .row-column-container{
    position: relative;
    display: flex;
    flex-direction: row;
    flex: none;
    overflow: visible;
  }
  .row-column-gapper{
    width: 5%;
  }

  .logo-container{
    position: relative;
    width: 100%;
    min-height: 250px;
    height:25vh;
  }

  .logo{
    position: absolute;
    top: 50px;
    left: 50%;
    width: 300px;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }

  .logo-main-page-fixed{
    position: fixed;
    top: 50px;
    left: 50%;
    width: 300px;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: #ffffff;
    z-index:2;
  }

  .logo-main-page{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}
